
body {
  margin: 2rem;
}

.characters-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  align-items: center;
  
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  

  padding: 1rem;

  background-color:#1bcce325;
  border: 2px solid rgb(0, 217, 255);
  border-radius: 1.1rem;

}

.card img {
  width: 50%;
}

.card p {
  font-size: 1.5rem;
}